parameters:
    level: 1
    bootstrapFiles:
        - vendor/autoload.php
        - ActionScripts/autoload.php
    excludePaths:
        analyseAndScan:
            - ActionScripts/*/vendor/*
    ignoreErrors:
        - '#Call to an undefined static method Illuminate\\Database\\Capsule\\Manager::(transaction|raw)\(\).#'